[submodule "bundle/vim_colors-solarized"]
	path = bundle/vim_colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab.git
